---
layout: base
---
<article class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <p class="meta">
    <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%Y-%m-%d" }}</time>
    {%- if page.tags and page.tags != empty -%} · {{ page.tags | join: " · " }}{%- endif -%}
  </p>
  <div class="content">
    {{ content }}
  </div>
  <div class="post-nav">
    <a href="{{ '/blog/' | relative_url }}">Back</a>
    {%- if page.previous.url -%}
      <a href="{{ page.previous.url | relative_url }}">Previous Blog</a>
    {%- endif -%}
    {%- if page.next.url -%}
      <a href="{{ page.next.url | relative_url }}">Next Blog</a>
    {%- endif -%}
  </div>
